.html {
background-color: rgb(242,242,242);
}

.index-image {
  background-image: url(../images/home-page-background-01-01.jpg);
  width: 100%;
}

.bg-img {
  background-image: url(../images/banner_2.jpg);
  min-height: 52px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.index-container{
    position: relative;
    text-align: center;
}

.container {
  position: absolute;
  width: 100%;
  text-align: center
  margin-left: 50%;
  margin-right: 50%;
}

.topnav {
  overflow: hidden;
  display: flex;
  align-items: center;
}

.topnav a {
    position: relative;
    padding: 0;
    font-family: 'Barlow', sans-serif;
    float: center;
    color: rgb(207,208,212);
    text-transform: uppercase;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 0.895rem;
    letter-spacing: 2.5pt;
    word-spacing: 30px;
    margin: auto;
    display: inline-block
  }

  .topnav a:hover {
  background-color: #ddd;
  color: black;
}

.logo{
  display: inline-block;
  font-family: 'Barlow Condensed', sans-serif;
  color: rgb(207,208,212);
  font-style: italic;
  text-transform: uppercase;
  font-size: 250%;
}

.h1 {font-family: 'Barlow Condensed', sans-serif;
text-align: center;
text-transform:uppercase;
font-size: 350%;
letter-spacing: 2pt;
padding-top: 2%;
padding-bottom: 2%;
}

.imageclass{
  display: block;
margin-left: auto;
margin-right: auto;
height: 60%;
width: 60%;
padding-bottom: 2%;
}

p {font-family: 'Barlow', sans-serif;
text-align: left;
font-size: 120%;
line-height: 180%;
margin-left: 25%;
margin-right: 25%;
}

.onebeatphoto{
  float: right;
  margin-left: 80%;
  padding: 5%;
  height: 90%;
  Width: 90%;
}

.line{
  width: 30%;
  float: center;
  weight: 3px;
  margin-top: 3%
}

.lists{
display: inline-block;
    width: 10%;
    margin: 35px;
    height: 90%;
    Width: 90%;
    padding-left: 25%;
    padding-bottom: 10%;
}

.labels{
  float: center;
  border-left: 10px;
  padding-left: 10%;
  height: 90%;
  width: 40%;
}

th{
  font-family: 'Barlow', sans-serif;
  text-align: left;
  line-height: 180%;
  font-size: 125%;
}

td{
  font-family: 'Barlow', sans-serif;
text-align: left;
font-size: 125%;
line-height: 150%;
}

.tours{
  border-collapse: collapse;
width: 60%;
margin-left:auto;
margin-right:auto;
}

.date{
  font-family: 'Barlow Condensed', sans-serif;
  padding-top: 18px;
  font-size: 1.525rem;
}

.tix{
text-align: center;
font-family: 'Barlow', sans-serif;
font-size: 0.995rem;
border: 1px solid;
width: 15%;
}

.border-bottom {
border-bottom: solid 1px black;
padding-bottom: 20px;
}

.discog{
  border-collapse: collapse;
width: 60%;
margin-left:auto;
margin-right:auto;
margin-bottom: 100px;
}

.h3{
  font-family: 'Barlow Semi Condensed', sans-serif;
  color: rgb(3,3,3);
  text-align: left;
  font-size: 1.5rem;
  text-transform:uppercase;
}

.h4{
  font-family: 'Barlow', sans-serif;
  color: rgb(3,3,3);
  text-align: left;
  font-size: 1.rem;
  line-height: .6;
}

.album-cover{
  display: inline-block;
  float: left;
  margin-left: auto;
margin-right: auto;
width: 40%;
}

.song-list{
  display:inline-block;
}

.track{
  font-family: 'Barlow', sans-serif;
  list-style-type: none;
  line-height: 1.6;
}

.alignleft {
	float: left;
  padding-left: 100px;
}

.alignright {
	float: right;
  padding-left: 100px;
}

.vidz{
margin-bottom: 6px;
margin-top: 6px;
}

.albumbox{
  border-collapse: collapse;
width: 60%;
margin-left:auto;
margin-right:auto;
margin-bottom: 100px;
margin-top: 200px;
}

.center { margin: 0 auto; width: 400px; }

* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 25%;
    padding: 5px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.example-image-link { 
  display: inline-block; 
  padding: 2px; 
  margin: 0 0.5rem 1rem 0.5rem; 
  background-color: #fff; 
  line-height: 0; 
  border-radius: 4px; 
  transition: background-color 0.5s 
  ease-out;
}

.lb-nav {
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 100%;
z-index: 10;
}

.grid-container {
  display: grid;
  grid-template-columns: 250px 250px 250px 250px;
  grid-gap: 10px;
  background-color: #FFFFFF;
  padding: 10px;
  align; center;
}

.grid-container > div {
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  text-align: center;
  font-size: 30px;
}

.product-image-wrapper{
  margin: 0;
  position: relative;
  text-align: center;
}

.merch-album{
  display: table-row;
  margin-bottom: 10px;
  position: relative;
  width: 100%;
  padding: 10px;

}

.merch-description{
  display: block;
  padding-left: 10px;
}

.h5{
  font-family: 'Barlow Condensed', sans-serif;
  text-align: left;
  font-size: 1.2rem;
  color: rgb(3,3,3);
  line-height: .6;
}

.h6{
  font-family: 'Barlow Condensed', sans-serif;
  text-align: left;
  font-size: 50%;
  line-height: 10%;
  }

.h7{
  text-align: center;
  font-family: 'Barlow', sans-serif;
  font-size: 0.895rem;
  color: rgb(207,208,212);
  text-transform: uppercase;
  vertical-align: middle;
  letter-spacing: .5pt;
}

.inner-box{
  background: rgba(0,0,0);
  border: 1px solid;
  width: 60%;
  margin-bottom: 10px;
  line-height: 32px;
}



/* .footer {
  background-image: url(../images/banner_2.jpg);
   position: relative;
   left: 0;
   bottom: 0;
   width: 100%;
   min-height: 50px;
} */
