.html {
background-color: rgb(242,242,252);
}

.container {
    position: relative;
    margin-left: -15px;
    margin-right: -15px;
    width: 100%;
    height: 100%;
}

header {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  background: url(../images/banner_2.jpg) no-repeat center fixed;
  background-size: cover;
}

.banner{
  position: fixed;
  top: 0px;
  width: 1366 px;
}

.overlay{
  position: absolute;
  z-index: 1;
}

.row{
  z-index: 3;
  margin: -15%;
}

ul {
  list-style: none;
  padding: 0;
  font-family: 'Barlow', sans-serif;
  color: rgb(207,208,212);
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2.5pt;
  word-spacing: 30px;
  font-size: 0.775rem;
  margin: auto;
}


.logo{
  display: inline-block;
  font-family: 'Barlow Condensed', sans-serif;
  font-style: italic;
  text-transform: uppercase;
  font-size: 250%;
}

li{
  display: inline-block;
  float: center;
}

.h1 {font-family: 'Barlow Condensed', sans-serif;
text-align: center;
text-transform:uppercase;
font-size: 300%;
letter-spacing: 2pt;

}

.imageclass{
  display: block;
margin-left: auto;
margin-right: auto;
height: 60%;
width: 60%;
padding-bottom: 2%;
}

p {font-family: 'Barlow', sans-serif;
text-align: left;
font-size: 120%;
line-height: 180%;
margin-left: 25%;
margin-right: 25%;
}

.onebeatphoto{
  float: right;
  margin-left: 80%;
  padding: 5%;
  height: 90%;
  Width: 90%;
}

.line{
  width: 30%;
  float: center;
  weight: 3px;
  margin-top: 3%
}

.lists{
display: inline-block;
    width: 10%;
    margin: 35px;
    height: 90%;
    Width: 90%;
    padding-left: 25%;
    padding-bottom: 2%;
}

.labels{
  float: center;
  border-left: 10px;
  padding-left: 10%;
  height: 90%;
  width: 40%;
}

th{
  font-family: 'Barlow', sans-serif;
  text-align: left;
  line-height: 180%;
  font-size: 125%;
}

td{
  font-family: 'Barlow', sans-serif;
text-align: left;
font-size: 125%;
line-height: 150%;
}

.tours{
  border-collapse: collapse;
width: 60%;
margin-left:auto;
margin-right:auto;
}

.date{
  font-family: 'Barlow Condensed', sans-serif;
  padding-top: 18px;
  font-size: 1.525rem;
}

.tix{
text-align: center;
font-family: 'Barlow', sans-serif;
font-size: 0.995rem;
border: 1px solid;
width: 15%;
}

.border-bottom {
border-bottom: solid 1px black;
padding-bottom: 20px;
}

.footer{
  width: 100%;
  height: 50px;
  margin-bottom: -15px;
  display: flex;
  background: url(../images/banner.jpg) no-repeat center center fixed;
  background-size: cover;
}
